@import url('https://fonts.googleapis.com/css2?family=Exo+2&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Exo 2', sans-serif;
    background: url('https://i1.faceprep.in/ProGrad/sky-moon-bg.png');
    height: 100vh;
    width: 100vw;
    background-size: 100% 100%;
}

#astronaut1{
    position: absolute;
    top: 5%;
    left: 5%;
    height: 500px;
    animation: floating 5s infinite ease-in;
}

#astronaut2{
    position: absolute;
    height: 425px;
    top: 30%;
    left: 30%;
    animation: floating 4s infinite ease-in;
}


.block-display{
    display: block;
}

form{
    position: absolute;
    top: 15%;
    left: 65%;
    background-color: white;
    width: 450px;
    padding: 0px 75px;
    border-radius: 5px;
    }

label{
    font-size: 16px;
    margin: 20px 0px 4px 0px;
    }

input[type="number"], input[type="text"], select{
    width: 300px;
    height: 40px;
    padding: 0 5px;
    border: 1px solid black;
    }

.rent-label{
    margin-right: 10px;
    }

#button{
    display:block;
    background-color: #ec7920;
    margin: 40px auto;
    padding: 15px 20px;
    border-radius: 20px;
    color: white;
    border: none;
    }
h1{
    font-size: 1.6em;
    text-align: center;
    margin: 20px auto;
    width: 280px;
    }
    
    
@keyframes floating{
0%{
transform: translateY(0px);
}

50%{
transform: translateY(30px);
}
}
        
        



